main{
    box-sizing: border-box;
    /* comentado porque afecta en todas las paginas
    background-color: var(--gris-claro);
    */
}
main .banner{
    display: block;
    
}

main .banner a img{
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next{
    display: none;
    margin: 18% 0;
    width: 10%;
    background-color: var(--negro-header);
    border-radius: 20px;
}

main .main-section{
    color: var(--negro);
}

main .main-section h3{
    margin-top: 30px;
   text-align: center;
   font-family: 'Montserrat';
}


main .glider-contain .glider {
    padding-top: 30px;
}

main .productos, .destacados, .ofertas{
    display: flex;
    color: var(--negro);
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
}


main .ofertas .art .prod{
    width: 60%;
}

main .art{
    margin-bottom: 20px;
}

main .art .prod{
    transition: all .5s ease;
}

main .ofertas .art:last-child{
    display: none;
}


main .productos .prod{
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    line-height: 30px;
    background-color: var(--blanco);
    margin:0 auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

main .ofertas-dskp{
    display: none;
}

main .productos .prod img{
    width: 100%;
     border: solid 1px var(--grisOscuro); 
    margin-bottom:0 ;
    border-radius:10px 10px 0 0 ;
}

main .main-section p{
    margin:10px 0 ;
}




main  .botones{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    border-left: solid var(--grisOscuro) 1px;
    border-right:  solid var(--grisOscuro) 1px;
    border-bottom:  solid var(--grisOscuro) 1px;
    width: 100%;
    justify-content: space-around;
    padding: 3px 0;
    border-radius: 0 0 10px 10px;
}
main  .botones .agregar{
    display: block;
    margin: 0 15px;
    justify-content: right;
    border: solid 1px var(--negro);
    border-radius: 5px;
    padding:0 4px;
    background-color: var(--blanco);
    color: var(--negro);
}

main  .botones p{
    display: block;
    border: solid 1px;
    border-radius: 3px;
    width: 15%;
    padding:3px 0;
    
}

main  .botones a{
    color: var(--verde-oscuro);
}

main .detalles-producto{
    font-size: 15px;
}

main .carg-productos{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

main .carg-productos button{
    width: 70%;
    max-width: 70%;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px var(--grisOscuro)
}




@media(min-width:568px){
    

    .carousel-control-prev,
.carousel-control-next{
    display: flex;
}
    
    main .productos, .destacados, .ofertas{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

  

    main .glider-contain .art{
        width: 70%;
        margin: 0 auto;
    }

    main .ofertas .art {
        width: 33%;
    }

    

    main .botones p{
        width: 25%;
        line-height: 100%;
        font-size: 16px;
    }
    main  .botones button{
        margin: 0 8px;
        
    }
    main .carg-productos button{
        width: 50%;
    }
    }

    @media(min-width:1024px){

        .carousel-control-prev,
        .carousel-control-next{
            margin: 20% 30px;
            width: 5%;
        }
        main .carg-productos button{
            width: 30%;
        }
        main .glider-contain{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

    
        main .art .prod:hover{
            box-shadow: 0px /* eje x */ 0px /* eje y */ 20px /* desenfoque de sombra */ rgb(160, 159, 159) ;
            transform: scale(1.05);
        }

        main .ofertas .art {
            width: 25%;
        }
        main .ofertas .art:last-child{
            display: block;
        }
        main .glider .art{
            margin: 0 auto;
            width: 70%;
        }
        main .ofertas{
            display: flex;
            flex-direction: row;
        }
    }