
.list .destacado {
    text-align: center;
    margin: 30px 0;
}

.list main {
  display: flex;
}
/* ASIDE - Filtrado por categorias */


.list .aside-list{
  display: flex;
  flex-direction: column;
  width:18%;
}

.list h4{
  text-align: center;
}

.list .aside-list .filter{
  padding: 50px 15px;
}
.list .aside-list .filter h3{
  font-size: 25px;

}

.list .list-body{
  width: 80%;
}

.list .row{
  flex-direction: column;
  align-items: center;
}

.list .col-9{
  padding-left: 0;
  padding-right: 0;
}
.form-select[multiple], .form-select[size]:not([size="1"]){
  padding-right: 0;
}
.list .form-select{
  overflow: hidden;
  border: none;
  padding-right: 0;
  padding: 0;
  margin: 0;
}
.list option{
  text-transform: capitalize;
  padding: 10px
}
.list .btn-outline-primary{
  color: var(--verde-oscuro);
  border: var(--verde-oscuro) 1px solid; 
  margin-top: 15px;
}
.list .btn-outline-primary:hover{
  background-color: var(--verde-oscuro);
  color: white;
}

/*  ASIDE - Filtrado por categorias  */


.list main .target-container {
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3em 0;
}

.list .target {
  width: 90%;
  margin: auto;
}

.list .art {
  width: 80%;
  margin: auto;
}

.list .prod {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  line-height: 30px;
  background-color: var(--blanco);
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 10px;
  align-items: center;
}

.list .prod img {
  width: 100%;
  border: solid 1px var(--grisOscuro);
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}



@media (min-width: 568px) {
  .list main .target-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .list .target {
    width: 45%;
    justify-content: center;
    margin: 0;
  }

  .list .art {
    width: 80%;
    margin: auto;
  }
  .list .prod {
    width: 75%;
  }
}




@media (min-width: 1024px) {
  .list main .target-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .list .target {
    width: 30%;
    justify-content: center;
    margin: 0;
  }

  .list .art {
    width: 80%;
    margin: auto;
  }
  .list .prod {
    width: 70%;
  }
}
