header {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family:'Montserrat' ;
    text-align: center;
}


header .bloque-sesion{
    padding: 3px 0;
    background-color: #fff;
    /* border: solid 3px #39A872 */
}

header .bloque-sesion ul {
    display: flex;
    padding: 3px;
    align-items: center;
}

header .bloque-sesion ul li{
    margin-right: 10px;
}
header .bloque-sesion ul li a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

header .bloque-nav .buscador{
    display: none;
    align-items: center;
    width:40%
}

header .bloque-nav .buscador .btn-buscar{
    display: block;
    background-color: #fff;
    width: 90%;
    padding: 7px;
    border-radius: 10px;
    margin-right: 5px;
}

header .bloque-nav .buscador a{
    color: black;
}

header .bloque-nav{
    display: flex;
    align-items: center;
    width: auto;
   border: solid 1px #666;
   justify-content: space-between;
   background-color:#1E9C5F ;
   padding: 0;
}

.bloque-nav .img-logo{
    display: flex;
    width: 40%;
    margin-left: 5px;
    
}

header .bloque-nav a img{
    width: 90%;
}

header .nav-bar{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    justify-content: space-around;
    padding: 0%;
    width: 30%;
}

header .nav-bar li a{
    color: black;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    width: 20%;
}

@media(min-width: 568px){
    header .bloque-sesion{
        display: none;
    }
}

