main{
    box-sizing: border-box;
    background-color: var(--gris-claro);
}
main .banner{
    display: block;
    
}

main .banner a img{
    width: 100%;
}

main .main-section{
    color: var(--negro);
}

main .main-section h3{
    margin-top: 15px;
   text-align: center;
   font-family: 'Montserrat';
}

main .productos{
    display: flex;
    color: var(--negro);
    margin-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
}

main .art{
    margin-bottom: 20px;
}

main .productos .prod-1,
    main .productos .prod-2,
    main .productos .prod-3,
    main .productos .prod-4,
    main .productos .prod-5,
    main .productos .prod-6,
    main .productos .prod-7,
    main .productos .prod-8{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    line-height: 30px;
    background-color: var(--blanco);
    margin:0 auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

main .productos .prod-1 img,
    main .productos .prod-2 img,
    main .productos .prod-3 img,
    main .productos .prod-4 img,
    main .productos .prod-5 img,
    main .productos .prod-6 img,
    main .productos .prod-7 img,
    main .productos .prod-8 img{
    width: 100%;
     border: solid 1px var(--grisOscuro); 
    margin-bottom:0 ;
    border-radius:10px 10px 0 0 ;
}

main .main-section p{
    margin:10px 0 ;
}




main  .botones{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    border-left: solid var(--grisOscuro) 1px;
    border-right:  solid var(--grisOscuro) 1px;
    border-bottom:  solid var(--grisOscuro) 1px;
    width: 100%;
    justify-content: space-around;
    padding: 3px 0;
    border-radius: 0 0 10px 10px;
}
main  .botones .agregar{
    display: block;
    margin: 0 15px;
    justify-content: right;
    border: solid 1px var(--negro);
    border-radius: 5px;
    padding:0 4px;
    background-color: var(--blanco);
    color: var(--negro);
}

main  .botones p{
    display: block;
    border: solid 1px;
    border-radius: 3px;
    width: 20%;
    
}

main  .botones a{
    color: var(--verde-oscuro);
}

main .detalles-producto{
    font-size: 15px;
}

main .carg-productos{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

main .carg-productos button{
    width: 70%;
    max-width: 70%;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px var(--grisOscuro)
}

@media(min-width:320px){
    main .productos .prod-5,
    main .productos .prod-6,
    main .productos .prod-7,
    main .productos .prod-8{
        display: none;
    }
}

@media(min-width:568px){
    main .productos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    main .art{
        width: 30%;
    }

    main .productos .prod-5,
    main .productos .prod-6{
        display: flex;
    }

    main .productos .prod-1,
    main .productos .prod-2,
    main .productos .prod-3,
    main .productos .prod-4,
    main .productos .prod-5,
    main .productos .prod-6,
    main .productos .prod-7,
    main .productos .prod-8{
        width: 70%;
    }

    

    main .botones p{
        width: 25%;
        line-height: 100%;
        font-size: 16px;
    }
    main  .botones button{
        margin: 0 8px;
        
    }
    main .carg-productos button{
        width: 50%;
    }
    }

    @media(min-width:1024px){
        main .carg-productos button{
            width: 30%;
        }
        main .art{
            width: 23%;
        }

        main .productos .prod-1,
    main .productos .prod-2,
    main .productos .prod-3,
    main .productos .prod-4,
    main .productos .prod-5,
    main .productos .prod-6,
    main .productos .prod-7,
    main .productos .prod-8{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

    
    }