<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ebd60ab031.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="bloque-sesion">
            <ul type="none">
                <li>
                    <a href="/login"><i class="far fa-user"></i> Iniciar sesión</a>
                </li>
                <li>
                    <a href="/register"><i class="fas fa-user-plus"></i> Registrarse</a>
                </li>
            </ul>
        </div>
        <nav class="bloque-nav">
            <a class="img-logo" href="/"><img src="/images/Logo1.png" alt="" /></a>
            <div class="buscador">
                <div class="btn-buscar">
                    <input class="h4" type="search" placeholder="Buscar">
                </div>
                <a  href=""><i class="fas fa-search"></i></a>
            </div>
            <ul class="nav-bar-header">
                <li>
                    <a class="btn-categorias" href=""><i class="fas fa-list-ul"></i></a>

                </li>
                <li>
                    <a class="busc" href=""><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a class="cesta" href="/store"><i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>

            <ul class="nav-bar-tablet">
                <li>
                    <a class="busc" href=""><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a class="user-log" href=""><i class="fas fa-user-circle"></i></a>
                </li>
                <li>
                    <a class="cesta" href=""><i class="fas fa-shopping-bag"></i></a>
                </li>

            </ul>

            <ul class="nav-bar-escritorio">
                <li>
                    <a class="user" href="/login">Mi cuenta</a><i class="fas fa-user-circle"></i>
                    <ul class="submenu-user">
                        <li><i class="fas fa-user"></i><a href="login">Iniciar sesion</a></li>
                        <li><i class="fas fa-user-plus"></i><a href="register">Crear cuenta</a></li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        <nav class="nav-social">
            <ul class="prod-of">
               <a href="/"><li>Inicio</li></a>
                <li>Categorías</li>
                <li>Ofertas</li>
            </ul>
            <ul class="redes">
                <li>
                    <a class="whatsapp" href=""><i class="fab fa-whatsapp"></i></a>
                </li>
                <li>
                    <a class="ig" href=""><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a class="facebook" href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li class="cesta">
                    <a href="">Cesta de compras <i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container-arrepentimiento">
            <h2>Boton de arrepentimiento</h2>
            <h3>Devoluciones de compras en internet</h3>
            <div class="condicion-reclamo">
                <p>Te recordamos que el producto a devolver debe estar tal cual lo recibiste. Tenés hasta 10 dias de corridos desde que lo compraste y/o recibiste para realizar la devolución.</p>
         
            </div>
            <div class="main-arrepentimiento">
                <h2>Por favor complete los siguientes datos:</h2>
                <div class="form-arrepentimiento">
                    <form action="/arrepentimiento">
                        <div class="usuario">
                            <label for="user">Nombre</label>
                            <input type="text" name="user" id="user">
                        </div>
                        <div class="mail">
                            <label for="email">Mail</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="repetirmail">
                            <label for="repeatmail">Repetir mail</label>
                            <input type="email" name="repeatmail" id="repeatmail">
                        </div>
                        <div class="Nro-de-compra">
                            <label for="nro-compra">Nro de compra</label>
                            <input type="text" name="nro-compra" id="nro-compra">
                        </div>
                        <div class="nombre-producto">
                            <label for="producto-nombre">Nombre del producto</label>
                            <input type="text" name="producto-nombre" id="producto-nombre">
                        </div>
                        <div class="boton-finalizar">
                            <button type="submit">enviar</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        
    </main>
    <footer>
        <div class="container">
            <div class="container-footer-top">
                <section class="medios-pagos">
                    <div class="tarjetas">
                        <h3>Metodos de pagos</h3>
                        <img src="/img/store.png" alt="">
                    </div>
                </section>
            </div>

            <div class="contactos">
                <section>
                    <h3>Contactos</h3>
                    <div class="telefono">
                        <i class="fas fa-phone-alt"></i><span>123-456-7890</span>
                    </div>
                    <div class="mail">
                        <i class="far fa-envelope"></i> <span>contac@gmail.com</span>
                    </div>

                </section>
            </div>

            <div class="section-3">
                <section>
                    <nav>
                        <ul>
                            <li><a class="boton-arrepentimiento" href="arrepentimiento">arrepentimiento</a></li>
                            <li><a href="">Ayuda</a></li>
                            <li><a href="">Preguntas frecuentes</a></li>
                            <li><a href="">Terminos y condiciones</a></li>
                            <li><a href="">Atencion al cliente</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
        <div class="container-footer-down">
            <section class="footer-copy">
                <p class="copyright">Copyright © 1999-2021 LibreriaInnovArte S.R.L.</p>
            </section>
        </div>
    </footer>
</body>
</html>