<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Home</title>
    <script src="https://kit.fontawesome.com/ebd60ab031.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="bloque-sesion">
            <ul type="none">
                <li>
                    <a href=""><i class="far fa-user"></i> Iniciar sesión</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-user-plus"></i> Registrarse</a>
                </li>
            </ul>
        </div>
        <nav class="bloque-nav">
            <a class="img-logo" href="/"><img src="/images/Logo1.png" alt="" /></a>
            <div class="buscador">
                <div class="btn-buscar">
                    <h4>Buscador</h4>
                </div>
                <a href=""><i class="fas fa-search"></i></a>
            </div>
            <ul type="none" class="nav-bar">
                <li>
                    <a href=""><i class="fas fa-list-ul"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
        </nav>
        
    </header>
</body>

</html>

<!--  -->

<!-- <a href="">Iniciar sesión</a>   
            <a href="">Registrarse</a> -->