<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/ebd60ab031.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="">Iniciar sesión</a>
            <a href="">Registrarse</a>
        </nav>
        <div class="logo-nav">
            <div>
                <a class="img-logo" href="/"><img src="/images/Logo1.png" alt=""></a>
            </div>
            <nav>
                <a href=""><i class="fas fa-list-ul"></i></a>
                <a href=""><i class="fas fa-search"></i></a>
                <a href=""><i class="fas fa-shopping-bag"></i></a>
            </nav>
        </div>
    </header>
</body>
</html>