<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ebd60ab031.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="login">
    <header>
        <div class="bloque-sesion">
            <ul type="none">
                <li>
                    <a href="/login"><i class="far fa-user"></i> Iniciar sesión</a>
                </li>
                <li>
                    <a href="/register"><i class="fas fa-user-plus"></i> Registrarse</a>
                </li>
            </ul>
        </div>
        <nav class="bloque-nav">
            <a class="img-logo" href="/"><img src="/images/Logo1.png" alt="" /></a>
            <div class="buscador">
                <div class="btn-buscar">
                    <input class="h4" type="search" placeholder="Buscar">
                </div>
                <a  href=""><i class="fas fa-search"></i></a>
            </div>
            <ul class="nav-bar-header">
                <li>
                    <a class="btn-categorias" href=""><i class="fas fa-list-ul"></i></a>

                </li>
                <li>
                    <a class="busc" href=""><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a class="cesta" href="/store"><i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>

            <ul class="nav-bar-tablet">
                <li>
                    <a class="busc" href=""><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a class="user-log" href="/login"><i class="fas fa-user-circle"></i></a>
                </li>
                <li>
                    <a class="cesta" href="/store"><i class="fas fa-shopping-bag"></i></a>
                </li>

            </ul>

            <ul class="nav-bar-escritorio">
                <li>
                    <a class="user" href="/login">Mi cuenta</a>
                </li>
                <li>
                    <a class="user-log" href="/login"><i class="fas fa-user-circle"></i></a>

                </li>
            </ul>
        </nav>
        <nav class="nav-social">
            <ul class="prod-of">
                <li><a class="btn-inicio" href="/">Inicio</a></li>
                <li>Categorías</li>
                <li>Ofertas</li>
            </ul>
            <ul class="redes">
                <li>
                    <a class="whatsapp" href=""><i class="fab fa-whatsapp"></i></a>
                </li>
                <li>
                    <a class="ig" href=""><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a class="facebook" href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li class="cesta">
                    <a href="/store">Cesta de compras <i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
      <div class="form-login">
          <div class="titulo-logo">
            <h2>Inicio de Sesión</h2>
            <img src="/images/Logo1.png" alt="">
          </div>
          <div class="formulario">
              <form action="/login">
                <div class="email">
                    <label for="">Usuario</label>
                    <input type="email" name="" id="">
                </div>
                <div class="password">
                    <label for="">Contraseña</label>
                    <input type="password" name="" id="">
                </div>
                <div class="boton-login">
                    <button type="submit">Entrar</button>
                </div>
              </form>
              <div class="link-registro">
                  <p>¿No tienes cuenta? </p><a class="btn-registro" href="/register">Registrate aqui</a>
              </div>
              
          </div>
      </div>
    </main>
    <footer>
        <div class="container">
            <div class="container-footer-top">
                <section class="medios-pagos">
                    <div class="tarjetas">
                        <h3>Metodos de pagos</h3>
                        <img src="/img/store.png" alt="">
                    </div>
                </section>
            </div>

            <div class="contactos">
                <section>
                    <h3>Contactos</h3>
                    <p>phone <span>123-456-7890</span></p>
                    <p>email <span>contac@gmail.com</span></p>
                </section>
            </div>

            <div class="section-3">
                <section>
                    <nav>
                        <ul>
                            <li><a class="boton-arrepentimiento" href="arrepentimiento">arrepentimiento</a></li>
                            <li><a href="">Ayuda</a></li>
                            <li><a href="">Preguntas frecuentes</a></li>
                            <li><a href="">Terminos y condiciones</a></li>
                            <li><a href="">Atencion al cliente</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
        <div class="container-footer-down">
            <section class="footer-copy">
                <p class="copyright">Copyright © 1999-2021 LibreriaInnovArte S.R.L.</p>
            </section>
        </div>
    </footer>
</body>
</html>