<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ebd60ab031.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="bloque-sesion">
            <ul type="none">
                <li>
                    <a href="/login"><i class="far fa-user"></i> Iniciar sesión</a>
                </li>
                <li>
                    <a href="/register"><i class="fas fa-user-plus"></i> Registrarse</a>
                </li>
            </ul>
        </div>
        <nav class="bloque-nav">
            <a class="img-logo" href="/"><img src="/images/Logo1.png" alt="" /></a>
            <div class="buscador">
                <div class="btn-buscar">
                    <input class="h4" type="search" placeholder="Buscar">
                </div>
                <a  href=""><i class="fas fa-search"></i></a>
            </div>
            <ul class="nav-bar-header">
                <li>
                    <a class="btn-categorias" href=""><i class="fas fa-list-ul"></i></a>

                </li>
                <li>
                    <a class="busc" href=""><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a class="cesta" href="/store"><i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>

            <ul class="nav-bar-tablet">
                <li>
                    <a class="busc" href=""><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a class="user-log" href=""><i class="fas fa-user-circle"></i></a>
                </li>
                <li>
                    <a class="cesta" href=""><i class="fas fa-shopping-bag"></i></a>
                </li>

            </ul>

            <ul class="nav-bar-escritorio">
                <li>
                    <a class="user" href="/login">Mi cuenta</a>
                </li>
                <li>
                    <a class="user-log" href=""><i class="fas fa-user-circle"></i></a>

                </li>
            </ul>
        </nav>
        <nav class="nav-social">
            <ul class="prod-of">
                <li>Categorías</li>
                <li>Ofertas</li>
            </ul>
            <ul class="redes">
                <li>
                    <a class="whatsapp" href=""><i class="fab fa-whatsapp"></i></a>
                </li>
                <li>
                    <a class="ig" href=""><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a class="facebook" href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li class="cesta">
                    <a href="">Cesta de compras <i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="product-view">
        <div class="contenedor-detalle">
            <div class="img-articulo">
                <img src="/images/producto-trabi.jpg" alt="">
                <p class="product-preci"> $150 </p>
            </div>
            <div class="color-boton">
                <div class="img-colores">
                    <h3 class="color">Color</h3>
                    <img src="/images/colores.png">
                </div>
                <div class="buton-producto">
                    <div class="boton-agregar">
                        <button type="submit">Agregar </button>
    
                    </div>
                    <div class="boton-comprar">
                        <button type="submit">Comprar </button>
    
                    </div>
                </div>
            </div>
            
            <div class="descripcion">
                <section>
                    <h3>Descripcion</h3>
                    <p>Big Brush Trabí</p>
                    <p>¿Ya tenés tus BIG BRUSH PASTEL en todos los colores?</p>
                    <div class="caracteristicas">
                        <ol>
                            <li>20 colores intensos, incluye gama completa de pasteles</li>
                            <li>Punta pincel de 4 mm de diámetro</li>
                            <li>Extra suave y ultra flexible</li>
                            <li>Ideales para lettering</li>
                        </ol>
                    </div>
                </section>
            </div>
           
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="container-footer-top">
                <section class="medios-pagos">
                    <div class="tarjetas">
                        <h3>Metodos de pagos</h3>
                        <img src="/img/store.png" alt="">
                    </div>
                </section>
            </div>

            <div class="contactos">
                <section>
                    <h3>Contactos</h3>
                    <div class="telefono">
                        <i class="fas fa-phone-alt"></i><span>123-456-7890</span>
                    </div>
                    <div class="mail">
                        <i class="far fa-envelope"></i> <span>contac@gmail.com</span>
                    </div>

                </section>
            </div>

            <div class="section-3">
                <section>
                    <nav>
                        <ul>
                            <li><a class="boton-arrepentimiento" href="arrepentimiento">arrepentimiento</a></li>
                            <li><a href="">Ayuda</a></li>
                            <li><a href="">Preguntas frecuentes</a></li>
                            <li><a href="">Terminos y condiciones</a></li>
                            <li><a href="">Atencion al cliente</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
        <div class="container-footer-down">
            <section class="footer-copy">
                <p class="copyright">Copyright © 1999-2021 LibreriaInnovArte S.R.L.</p>
            </section>
        </div>
    </footer>
</body>

</html>