<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ebd60ab031.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body class="register">
    <header>
        <div class="bloque-sesion">
            <ul type="none">
                <li>
                    <a href=""><i class="far fa-user"></i> Iniciar sesión</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-user-plus"></i> Registrarse</a>
                </li>
            </ul>
        </div>
        <nav class="bloque-nav">
            <a class="img-logo" href="/"><img src="/images/Logo1.png" alt="" /></a>
            <div class="buscador">
                <div class="btn-buscar">
                    <h4>Buscador</h4>
                </div>
                <a  href=""><i class="fas fa-search"></i></a>
            </div>
            <ul class="nav-bar-header">
                <li>
                    <a class="btn-categorias" href=""><i class="fas fa-list-ul"></i></a>

                </li>
                <li>
                    <a class="busc" href=""><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a class="cesta" href=""><i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>

            <ul class="nav-bar-tablet">
                <li>
                    <a class="busc" href=""><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a class="user-log" href=""><i class="fas fa-user-circle"></i></a>
                </li>
                <li>
                    <a class="cesta" href=""><i class="fas fa-shopping-bag"></i></a>
                </li>

            </ul>

            <ul class="nav-bar-escritorio">
                <li>
                    <a class="user" href="">Mi cuenta</a>
                </li>
                <li>
                    <a class="user-log" href=""><i class="fas fa-user-circle"></i></a>

                </li>
            </ul>
        </nav>
        <nav class="nav-social">
            <ul class="prod-of">
                <li>Categorías</li>
                <li>Ofertas</li>
            </ul>
            <ul class="redes">
                <li>
                    <a class="whatsapp" href=""><i class="fab fa-whatsapp"></i></a>
                </li>
                <li>
                    <a class="ig" href=""><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a class="facebook" href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li class="cesta">
                    <a href="">Cesta de compras <i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="formulario-register">
            <h1>registro</h1>
            <div class="form">
                <form action="/register">
                    <div class="usuario">
                        <label for="user">Nombre</label>
                        <input type="text" name="user" id="user">
                    </div>
                    <div class="mail">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="contraseña">
                        <label for="pass">Contraseña</label>
                        <input type="password" name="pass" id="pass">
                    </div>
                    <div class="repetircontra">
                        <label for="repeatpass">Repetir contraseña</label>
                        <input type="password" name="repeatpass" id="repeatpass">
                    </div>
                    <div class="condicion-registro">
                        <input type="checkbox" name="terminos">
                        <label for="terminos">Acepta los terminos y condiciones</label>
                    </div>
                    <div class="boton-registro">
                        <button type="submit">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="container-footer-top">
                <section class="medios-pagos">
                    <div class="tarjetas">
                        <h3>Metodos de pagos</h3>
                        <img src="/img/store.png" alt="">
                    </div>
                </section>
            </div>

            <div class="contactos">
                <section>
                    <h3>Contactos</h3>
                    <p>phone <span>123-456-7890</span></p>
                    <p>email <span>contac@gmail.com</span></p>
                </section>
            </div>

            <div class="section-3">
                <section>
                    <nav>
                        <ul>
                            <li><a class="boton-arrepentimiento" href="">arrepentimiento</a></li>
                            <li><a href="">Ayuda</a></li>
                            <li><a href="">Preguntas frecuentes</a></li>
                            <li><a href="">Terminos y condiciones</a></li>
                            <li><a href="">Atencion al cliente</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
        <div class="container-footer-down">
            <section class="footer-copy">
                <p class="copyright">Copyright © 1999-2021 LibreriaInnovArte S.R.L.</p>
            </section>
        </div>
    </footer>
</body>

</html>