<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    
    <main>
        <div class="container-store">
            <div class="titulos">
                <ol>
                    <li>Imagen</li>
                    <li>Nombre</li>
                    <li>Cantidad</li>
                    <li>Precio</li>
                </ol>
            </div>
            <section class="filas">
                <p>imagen</p>
                <p>nombre</p>
                <p>cantidad</p>
                <p>precio</p>
            </section>
        </div>

        <div class="container-total">
            <section>
                <div class="boton-costo">
                    <button type="submit">Calcular costo de envio</button>
                </div>
                <div class="envio-total">
                    <p>envio: $0.00</p>
                    <p>total: $0.00</p>
                </div>

            </section>
        </div>

        <div class="container-button">
            <section>
                <div class="boton-continuar">
                    <button type="submit">Seguir comprando</button>
                </div>
                <div class="boton-pagar">
                    <button type="submit">Pagar</button>
                </div>
            </section>
        </div>

    </main>
    <footer>
        <div class="container">
            <div class="container-footer-top">
                <section class="medios-pagos">
                    <div class="tarjetas">
                        <h3>Metodos de pagos</h3>
                        <img src="/img/store.png" alt="">
                    </div>
                </section>
            </div>

            <div class="contactos">
                <section>
                    <h3>Contactos</h3>
                    <p>phone <span>123-456-7890</span></p>
                    <p>email <span>contac@gmail.com</span></p>
                </section>
            </div>

            <div class="section-3">
                <section>
                    <nav>
                        <ul>
                            <li><a class="boton-arrepentimiento" href="">arrepentimiento</a></li>
                            <li><a href="">Ayuda</a></li>
                            <li><a href="">Preguntas frecuentes</a></li>
                            <li><a href="">Terminos y condiciones</a></li>
                            <li><a href="">Atencion al cliente</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
        <div class="container-footer-down">
            <section class="footer-copy">
                <p class="copyright">Copyright © 1999-2021 LibreriaInnovArte S.R.L.</p>
            </section>
        </div>
    </footer>
</body>

</html>