<header>
    <div class="bloque-sesion">
        <ul type="none">
            <li>
                <a href="/login"><i class="far fa-user"></i> Iniciar sesión</a>
            </li>
            <li>
                <a href="/register"><i class="fas fa-user-plus"></i> Registrarse</a>
            </li>
        </ul>
    </div>
    <nav class="bloque-nav">
        <a class="img-logo" href="/"><img src="/images/Logo1.png" alt="" /></a>
        <div class="buscador">
            <div class="btn-buscar">
                <input class="h4" type="search" placeholder="Buscar">
            </div>
            <a  href=""><i class="fas fa-search"></i></a>
        </div>
        <ul class="nav-bar-header">
            <li>
                <a class="btn-categorias" href=""><i class="fas fa-list-ul"></i></a>

            </li>
            <li>
                <a class="busc" href=""><i class="fas fa-search"></i></a>
            </li>
            <li>
                <a class="cesta" href="/store"><i class="fas fa-shopping-bag"></i></a>
            </li>
        </ul>

        <ul class="nav-bar-tablet">
            <li>
                <a class="busc" href=""><i class="fas fa-search"></i></a>
            </li>
            <li>
                <a class="user-log" href=""><i class="fas fa-user-circle"></i></a>
                <ul class="submenu-user">
                    <li><i class="fas fa-user"></i><a href="login">Iniciar sesion</a></li>
                    <li><i class="fas fa-user-plus"></i><a href="register">Crear cuenta</a></li>
                </ul>
            </li>
            <li>
                <a class="cesta" href="/store"><i class="fas fa-shopping-bag"></i></a>
            </li>

        </ul>

        <ul class="nav-bar-escritorio">
            <li>
                <a class="user" href="/login">Mi cuenta</a><i class="fas fa-user-circle"></i>
                <ul class="submenu-user">
                    <li><i class="fas fa-user"></i><a href="login">Iniciar sesion</a></li>
                    <li><i class="fas fa-user-plus"></i><a href="register">Crear cuenta</a></li>
                </ul>
            </li>
            
        </ul>
    </nav>
    <nav class="nav-social">
        <ul class="prod-of">
           <a href="/"><li>Inicio</li></a>
            <li>Categorías</li>
            <li>Ofertas</li>
        </ul>
        <ul class="redes">
            <li>
                <a class="whatsapp" href=""><i class="fab fa-whatsapp"></i></a>
            </li>
            <li>
                <a class="ig" href=""><i class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a class="facebook" href=""><i class="fab fa-facebook"></i></a>
            </li>
            <li class="cesta">
                <a href="/store">Cesta de compras <i class="fas fa-shopping-bag"></i></a>
            </li>
        </ul>
    </nav>
</header>